@tailwind components;
@tailwind utilities;

a {
  text-decoration: none !important;
}

ul.nx-list-disc {
  margin-top: 0 !important;
  list-style-type: disc;
}

ul.nx-list-disc li li {
  list-style-type: circle;
}

ul.nx-list-disc li li li {
  list-style-type: square;
}

ol.nx-list-decimal {
  margin-top: 0 !important;
}

:root {
  --docsearch-highlight-color: #0ea5e9;
  --docsearch-primary-color: #0ea5e9;
}

.DocSearch-Modal {
  @apply !rounded-md shadow-none dark:bg-neutral-800;
}

.DocSearch-Button {
  @apply m-0 w-52 rounded-md bg-neutral-200 text-gray-800 hover:bg-neutral-200 dark:bg-neutral-800 dark:text-gray-400;
}

.DocSearch-Search-Icon {
  @apply !text-gray-800 dark:!text-gray-400;
}

.DocSearch-Button-Key {
  @apply bg-gray-400 !bg-none text-gray-800 shadow-none dark:!bg-neutral-900 dark:text-neutral-500;
}

.DocSearch-Commands-Key {
  @apply bg-gray-400 !bg-none text-gray-800 shadow-none dark:!bg-neutral-900 dark:text-neutral-500;
}

.DocSearch-Container {
  @apply dark:bg-black/50;
}

.DocSearch-Input {
  @apply text-gray-400 focus-visible:!ring-transparent focus-visible:ring-offset-0 dark:bg-transparent outline-none;
}

.DocSearch-Form {
  @apply shadow-blue-500 dark:bg-neutral-800;
}

.DocSearch-SearchBar {
  @apply rounded-md dark:bg-neutral-800;
}

.DocSearch-Dropdown {
  @apply dark:bg-neutral-800;
}

.DocSearch-Footer {
  @apply shadow-none dark:bg-neutral-800;
}

.DocSearch-Hit-source {
  @apply dark:bg-neutral-800;
}

.DocSearch-Hit {
  @apply [&>a]:aria-selected:!bg-[var(--docsearch-primary-color)];
}

.DocSearch-Hit > a {
  @apply shadow-none dark:bg-neutral-700;
}

.DocSearch-Hit-title {
  @apply dark:text-neutral-200;
}

.DocSearch-Hit-icon {
  @apply dark:text-neutral-200;
}

.DocSearch-Dropdown::-webkit-scrollbar-thumb {
  @apply dark:border-neutral-800 dark:bg-neutral-600 dark:hover:bg-neutral-500;
}

.nextra-code-block pre {
  @apply dark:!bg-zinc-800;
}
