@import "tailwindcss";
@import "fumadocs-ui/css/vitepress.css";
@import "fumadocs-ui/css/preset.css";

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}

body {
  background-image:
    radial-gradient(circle at 25% 0, rgba(59, 130, 246, 0.15), transparent 35%),
    linear-gradient(#16161608 1px, transparent 1px),
    linear-gradient(90deg, #16161608 1px, transparent 1px);

  background-size:
    100% 100%,
    40px 40px,
    40px 40px;
}

.dark body {
  background-image:
    radial-gradient(circle at 25% 0, rgba(59, 130, 246, 0.01), transparent 35%),
    linear-gradient(#61616106 1px, transparent 1px),
    linear-gradient(90deg, #61616106 1px, transparent 1px);

  background-size:
    100% 100%,
    40px 40px,
    40px 40px;
}

ul,
li {
  margin: 0;
}

ul {
  margin-bottom: 1em;
}

@layer utilities {
  .prose :where(p):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 0.5em;
    margin-bottom: 1em;
  }
}

@layer utilities {
  .prose :where(h2):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    color: var(--tw-prose-headings);
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.33333;
  }
}
