/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #19e1b6;
  --ifm-color-primary-dark: #17caa4;
  --ifm-color-primary-darker: #15bf9b;
  --ifm-color-primary-darkest: #119e7f;
  --ifm-color-primary-light: #2be8bf;
  --ifm-color-primary-lighter: #37e9c2;
  --ifm-color-primary-lightest: #58edcd;
  --wrapper-background: #182029;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--wrapper-background);
}

.docs-wrapper {
  background-color: #1f2428;
  justify-content: stretch;
  align-items: stretch;
}

.navbar {
  background-color: #1c2023;
}

.theme-doc-sidebar-container {
  background-color: #1c2023;
}

.icon-button {
  /* background-color: var(--ifm-color-primary-darkest); */
  transition: 300ms;
  border: 0.12rem solid var(--ifm-color-primary-darkest);
}

.icon-button:hover {
  background-color: var(--ifm-color-primary-darkest);
  cursor: pointer;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.DocSearch-Hit[aria-selected='true'] a {
  background-color: #119e7f !important;
}
